<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cnblog首页</title>
    <link rel="stylesheet" href="/static/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/jquery-3.3.1.js"></script>

    <style>

    </style>

</head>
<body>

    {% csrf_token %}

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">首页</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="username"><span class="glyphicon glyphicon-user"></span>{{ username }}</a></li>

         <li><a href="#"  class="delUser"><span class="glyphicon glyphicon-remove-sign"></span>删除用户</a></li>

        <li class="dropdown">
          <a href="/logout/" class="logout"><span class="glyphicon glyphicon-off"></span>注销</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container boder">
    <div class="row">
        <!-- 存放左侧菜单 -->
        <div class="col-md-2  bodyleft" >
             <div class="panel panel-primary">
                  <div class="panel-heading">公告</div>
                  <div class="panel-body">
                        <div>欢迎进入cnblog系统</div>
                  </div>
            </div>

            <!--对应view里的方法一-->
            <div class="panel panel-info">
                  <div class="panel-heading">分类归档</div>
                  <div class="panel-body">

                  </div>
            </div>

{#            <!--对应view里的方法二-->#}
{#            <div class="panel panel-info">#}
{#                  <div class="panel-heading">分类归档</div>#}
{#                  <div class="panel-body">#}
{#                      {% for cate in catelist %}#}
{#                          <!-- 注意html这里取一个列表的第几个值，直接 .数字就可以，如 list.1 ;list[1]会报错 -->#}
{#                          <div>{{ cate.0 }}({{ cate.1 }})</div>#}
{#                      {% endfor %}#}
{#                  </div>#}
{#            </div>#}

            <div class="panel panel-default">
                  <div class="panel-heading">标签</div>
                  <div class="panel-body">
                      <div>

                      </div>
                  </div>
            </div>

            <div class="panel panel-danger">
                  <div class="panel-heading">发布时间</div>
                  <div class="panel-body">
                      <div>

                      </div>
                  </div>
            </div>


        </div>

        <!-- 存放文章 -->
        <div class="col-md-10  bodymiddle">
            {% for article in articles %}
                <div class="articletitle"><a href="/blog/{{ article.blog.user.username }}/article/{{ article.articleid }}"> {{ article.title }} </a></div>

                <div class="container">
                    <div class="row article">
                        <div class="col-md-1 ">
                            <a href="/blog/{{ article.blog.user.username }}"><img  class="userimg" src="/media/{{ article.blog.user.avatar }}"></a>
                        </div>
                        <div class="col-md-10  desc">{{ article.desc }}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="articleuser">
                        <a href="/blog/{{ article.blog.user.username }}"> {{ article.blog.user.username }}</a>&nbsp;
                        发表于&nbsp;{{ article.create_time|date:"Y-m-d H:i:s" }}
                        <!--create_time 只精确到了天 |date:"Y-m-d H:i:s"  -->
                        <span class="articleinfo">
                            <span class="glyphicon glyphicon-list-alt">阅读({{ article.read_count }})&nbsp;</span>
                            <span class="glyphicon glyphicon-comment">评论({{ article.read_count }})&nbsp;</span>
                            <span class="glyphicon glyphicon-thumbs-up">点赞({{ article.up_count }})&nbsp;</span>
                        </span>
                    </div>
                </div>

            <hr>
            {% endfor %}
        </div>

        <!-- 存放右侧菜单 -->
{#        <div class="col-md-1  bodyright">333</div>#}
    </div>
</div>



    <script>

        var token=$("input[name=csrfmiddlewaretoken]").val();

        $(".delUser").click(function () {
            $.ajax({
                url:"/delUser/",
                type:"POST",
                data:{
                    username:$(".username").html(),
                    csrfmiddlewaretoken:token
                },
                success:function (data) {
                    var data=JSON.parse(data);
                    if(data.username){ //data.username有值证明可以进行删除操作
                        alert("删除用户"+data.username+"成功")
                        location.href="/login/"
                    }
                    else{
                        alert("操作失败："+data.errormsg)
                    }
                }

            })
        })
    </script>

</body>
</html>