<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog 登录</title>
    <link rel="stylesheet" href="/static/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/jquery-3.3.1.js"></script>

</head>
<body>

<div class="login_h container">
    <form class="col-md-4 col-md-offset-2 ">
          <div class="form-group">
            <label for="user">用户名</label>
            <input type="text" class="form-control" id="user" placeholder="请输入用户名">
          </div>
          <div class="form-group">
            <label for="pwd">密码</label>
            <input type="password" class="form-control" id="pwd" placeholder="请输入密码">
          </div>
          <div class="row">
              <div class="form-group col-md-6">
                    <label for="checkpwd">验证码</label>
                    <input type="text" class="form-control" id="checkpwd"><label class="error"></label>
              </div>
               <div class="col-md-6 invalid_img">
{#                  <img src="/static/pictures/AIF.png" width="160" height="35">#}
                  <img src="/getValidImg/" class="imgClick" width="160" height="35">
               </div>
          </div>
{#            <button type="submit" class="btn btn-primary loginBtn">登录</button>#}
            <button type="button" class="btn btn-primary loginBtn">登录</button>
    </form>
</div>


<script>
    $(".imgClick").click(function () {
        {#location.href="/login/"        这个不行，会页面全部刷新#}

        {#方法一，直接dom对象方便的写法#}
        {#$(this)[0].src += "?" #}

        {#方法二，用attr熟悉赋值#}
        $(this).attr("src","/getValidImg/?flag="+Math.random())

        {#方法三，ajax 暂时实现不了！！！#}
        {#$.ajax({#}
        {#    url:"/getValidImg/",#}
        {#    success:function (data) {#}
        {#        alert("点击图片事件");#}
        {#        $(this).attr("src","/getValidImg/?flag="+Math.random()) ;#}
        {#    }#}
        {#})#}


    })

    $(".loginBtn").click(function () {
        $.ajax({
            url:"/login/",
            type:"GET",
            data:{
                user:$("#user").val(),
                password:$("#pwd").val(),
                checkpwd:$("#checkpwd").val()
            },
            success:function (data) {
                console.log(data);
                var data1=JSON.parse(data);
                if (data1["user"]){
                    {#alert("ok");#}
                    location.href="/index/";
                }
                else{
                    {#alert("fail");#}
                    $(".error").html(data1["errmsg"]).css("color","red").css("font-size","12px");
                    $(".imgClick").attr("src","/getValidImg/?flag="+Math.random())
                    setTimeout("$(\".error\").html(\"\")",3000)
                }
            }
        })
    })
</script>

</body>
</html>