<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../staticAIF/dist/css/bootstrap.css">
</head>
<body>
    <div>aaaaaaaaaaaa</div>
    <div>bbbbbbbbbbbbbb</div>
    <table class="table table-striped">
        <tr>
            <th>NAME</th>
            <th>AGE</th>
            <th>JUMP-HEIGHT</th>
        </tr>
        <tr>
            <td>Allen Iverson</td>
            <td>26</td>
            <td>111</td>
        </tr>
        <tr>
            <td>YaoMing</td>
            <td>26</td>
            <td>70</td>
        </tr>
        <tr>
            <td>Lbron Jams</td>
            <td>26</td>
            <td>106</td>
        </tr>

    </table>
</body>
</html>